.shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shopcategory-indexSort {
    display: flex;
    margin: 0 122px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort {
    padding: 10px 20px;
}

.shopcategory-sort select {
    padding: 9px 14px;
    margin-left: 10px;
}

.shopcategory-indexSort p span {
    font-weight: 600;
}

.shopcategory-products {
    margin: 20px 122px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}

.shopcategory-loadmore {
    display: flex;
    margin: auto;
    margin-bottom: 100px;
    width: 233px;
}

@media screen and (max-width: 768px) {
    .shopcategory-banner {
        width: 90%;
    }

    .shopcategory-indexSort {
        margin: 0 40px;
        gap: 15px;
    }

    .shopcategory-sort {
        display: flex;
        align-items: center;
    }

    .shopcategory-sort select {
        width: 50%;
    }

    .shopcategory-products {
        margin: 20px 40px 80px;
        grid-template-columns: 1fr 1fr;
        row-gap: 60px;
    }
}

@media screen and (max-width: 480px) {
    .shopcategory-products {
        grid-template-columns: 1fr;

    }

    .shopcategory-indexSort {
        display: block;
        text-align: center;
    }
}